.cart-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'LeeSeoyun', sans-serif;
    color: grey;
}

.cart-box{
    width: 50%;
}

.cart-box>table{
    width: 100%;
    text-align: center;
}
.cart-box>table tr{
    border-bottom: 2px solid #c9dcf9;
}
.cart-box>table th{
    font-size: 3vh;
}
.cart-box>table td{
    font-size: 2.5vh;
}
.cart-box>table img{
    width: 200px;
    height: 200px;
    object-fit: contain;
    border-radius: 10px;
}
.cart-box>table button{
    width: 100px;
    height: 50px;
    border: 2px solid #c9dcf9;
    border-radius: 5px;
    color: grey;
    font-size: 2vh;
}
.cart-box>table input{
    width: 50px;
    height: 40px;
    border: 2px solid #c9dcf9;
    border-radius: 5px;
    color: grey;
    font-family: 'LeeSeoyun', sans-serif;
    text-align: center;
}
