.notice-detail-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'LeeSeoyun', sans-serif;
    color: grey;
}

.notice-detail-box{
    width: 50%;
}

.notice-detail-title-box{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.notice-detail-title-box>div:first-child{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 4vh;
    border: 2px solid #c9dcf9;
    border-radius:5px;
    font-size: 3vh;
}
.notice-detail-title-box>div:last-child{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
    height: 4vh;
    border-radius: 5px;
    border: 2px solid #c9dcf9;
    font-size: 3vh;
}

.notice-detail-content-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
    border: 2px solid #c9dcf9;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 2.5vh;
}