.personal-info-container{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'LeeSeoyun', sans-serif;
    width: 100%;
    color: grey;
}

.personal-info-box{
    width: 50%;
    margin: auto;
}

.personal-info-box>table{
    width: 100%;
    font-size: 3vh;
    color: grey;
}

.personal-info-box>table>table{
    width: 100%;
    border-radius: 10px;
    border: 1px solid #c9dcf9;
    margin-bottom: 5px;
}

.personal-info-box>table>table button{
    border-radius: 10px;
    border: none;
    box-sizing: border-box;
    background: #c9dcf9;
    width: 10vh;
    height: 7vh;
    font-size: 2.5vh;
}