.personal-info-container{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'LeeSeoyun', sans-serif;
    width: 100%;
    color: grey;
}

.personal-info-box{
    width: 50%;
    margin: auto;
}

.personal-info-box>table{
    width: 100%;
    font-size: 3vh;
    color: grey;
}

.personal-info-box>table>table{
    width: 100%;
    border-radius: 10px;
    border: 1px solid #c9dcf9;
    margin-bottom: 5px;
}